.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.input-section, .output-section {
    width: 100%;
    max-width: 600px; /* Adjust based on your preference */
}

.process-form-textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.process-form-button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.process-form-button:hover {
    background-color: #45a049;
}

.output-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.output-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 4px;
}

.output-row > div {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: text;
}

.output-row > div:last-child {
    background: none;
    border: none;
    text-align: right;
}

.output-header, .output-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

.output-header > div {
    font-weight: bold;
    background-color: #eee; /* Light background for the header */
    padding: 10px;
    border-radius: 4px;
}